<section>

    <div class="message-group">

      <div class="message-avatar message-avatar--indigo">
        A
      </div>

      <div>

        <div class="message-meta">

          <span class="message-author">
            Ahmed
          </span>

          <span class="message-time">
            Today 10:30 AM
          </span>

        </div>

        <p class="message-body">
          Welcome everyone 👋
        </p>

      </div>

    </div>

    <div class="message-group">

      <div class="message-avatar message-avatar--green">
        K
      </div>

      <div>

        <div class="message-meta">

          <span class="message-author">
            Kareem
          </span>

          <span class="message-time">
            Today 10:31 AM
          </span>

        </div>

        <p class="message-body">
          Hello everyone!
        </p>

      </div>

    </div>

  </section>